# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# Native
.externalNativeBuild/
.cxx/

# OS
.DS_Store

# Kotlin
.kotlin/

# Kiro
.kiro/

# Assets (generated)
app/src/main/assets/runtime.apk

app-runtime/build/
app-runtime/build/outputs/
app-runtime/build/kotlin/
